@import "../../../assets/variables.scss";

.main {
  height: 100dvh;
  display: flex;
  padding: 4rem;
  width: 100vw;
  align-items: center;

  background-color: $main-body-color;
  .right {
    margin: 0 auto;
    width: 50%;
  }
  .left {
    margin: 0 auto;
  }
}

.hidden {
  display: hidden;
}

@media (max-width: 767px) {
  .main {
    flex-direction: column;
    padding: 2rem;
    .right {
      width: 100%;
    }
    .left {
      width: 100%;
    }
  }
}
