<form class="numbers-form" [formGroup]="generatorForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Number of integers to generate</mat-label>
    <input
      type="number"
      matInput
      formControlName="num"
      placeholder="Enter a number between 1 and 10000"
    />
    <mat-error *ngIf="generatorForm.get('num').dirty">
      <span *ngIf="generatorForm.get('num').hasError('required')">{{
        FormErrorMessage.Required
      }}</span>
      <span
        *ngIf="
          generatorForm.get('num').hasError('min') ||
          generatorForm.get('num').hasError('max')
        "
        >{{ FormErrorMessage.NumOfIntegers }}</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum value</mat-label>
    <input
      type="number"
      matInput
      formControlName="minValue"
      placeholder="Enter a number between -1000000 and 1000000"
    />
    <mat-error *ngIf="generatorForm.get('minValue').dirty">
      <span *ngIf="generatorForm.get('minValue').hasError('required')">{{
        FormErrorMessage.Required
      }}</span>
      <span *ngIf="generatorForm.get('minValue').hasError('min')"
        >{{ FormErrorMessage.minValue }}.</span
      >
      <span *ngIf="generatorForm.get('minValue').hasError('max')">
        {{ FormErrorMessage.maxValue }}</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maximum value</mat-label>
    <input
      type="number"
      matInput
      formControlName="maxValue"
      placeholder="Enter the maximum value"
    />
    <mat-error *ngIf="generatorForm.get('maxValue').dirty">
      <span *ngIf="generatorForm.get('maxValue').hasError('required')">{{
        FormErrorMessage.Required
      }}</span>
      <span *ngIf="generatorForm.get('maxValue').hasError('min')"
        >{{ FormErrorMessage.minValue }}.</span
      >
      <span *ngIf="generatorForm.get('maxValue').hasError('max')">
        {{ FormErrorMessage.maxValue }}</span
      >
      <span
        *ngIf="
          generatorForm.get('maxValue').value &&
          generatorForm.get('maxValue').hasError('maxNumLessThanMin') &&
          generatorForm.get('minValue').dirty
        "
      >
        {{ FormErrorMessage.minMaxValue }}
      </span>
    </mat-error>
  </mat-form-field>

  <button
    class="submit-button"
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="generatorForm.invalid"
  >
    Submit
  </button>
</form>
