<form class="numbers-form" [formGroup]="generatorForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Number of integers to generate</mat-label>
    <input
      type="number"
      matInput
      formControlName="num"
      placeholder="Enter a number between 1 and 10000"
    />
    <mat-error *ngIf="this.num.dirty">
      <span *ngIf="this.num.hasError('required')">{{
        FormErrorMessage.Required
      }}</span>
      <span *ngIf="this.num.hasError('min') || this.num.hasError('max')">{{
        FormErrorMessage.NumOfIntegers
      }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum value</mat-label>
    <input
      type="number"
      matInput
      formControlName="minValue"
      placeholder="Enter a number between -1000000 and 1000000"
    />
    <mat-error *ngIf="this.minValue.dirty">
      <span *ngIf="this.minValue.hasError('required')">{{
        FormErrorMessage.Required
      }}</span>
      <span *ngIf="this.minValue.hasError('min')"
        >{{ FormErrorMessage.minValue }}.</span
      >
      <span *ngIf="this.minValue.hasError('max')">
        {{ FormErrorMessage.maxValue }}</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maximum value</mat-label>
    <input
      type="number"
      matInput
      formControlName="maxValue"
      placeholder="Enter the maximum value"
    />
    <mat-error *ngIf="this.maxValue.dirty">
      <span *ngIf="this.maxValue.hasError('required')">{{
        FormErrorMessage.Required
      }}</span>
      <span *ngIf="this.maxValue.hasError('min')"
        >{{ FormErrorMessage.minValue }}.</span
      >
      <span *ngIf="this.maxValue.hasError('max')">
        {{ FormErrorMessage.maxValue }}</span
      >
      <span
        *ngIf="
          this.maxValue.value &&
          this.maxValue.hasError('maxNumLessThanMin') &&
          this.minValue.dirty
        "
      >
        {{ FormErrorMessage.minMaxValue }}
      </span>
    </mat-error>
  </mat-form-field>

  <button
    class="submit-button"
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="generatorForm.invalid"
  >
    Submit
  </button>
</form>
